<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>订单提交成功</title>
		<link rel="stylesheet" type="text/css" href="../../static/r/css/public.css">
		<link rel="stylesheet" type="text/css" href="../../static/r/css/subsucc.css">
		<script type="text/javascript" src="../../static/public/js/common.js"></script>
	</head>

	<body>
		<header>
			<a href="javascript:history.go(-1);" class="back"></a>
			<span class="headtit">回收订单</span>
		</header>
		<div class="list">
			<span class="list_img"></span>
		</div>
		<p class="tit_p">订单提交成功</p>
		<a href="{$url}" class="seelist">查看订单</a>
	</body>
	<script type="text/javascript" src="../../static/public/js/jquery-1.11.1.min.js"></script>
</html>